.BannerBox {
    overflow: hidden;
    border-radius: 0.5rem !important;
}
.BannerBox .BannerBoxIMG{
    width: 100%;
    cursor: pointer;
}

.BannerBox .BannerBoxIMG:hover {
    transition: all 0.3s ease-in-out;
}

