.Products_Slide {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: 100%;
    margin: 0 auto;
} 

.Products_Slide .mySwiper {
    padding: 1rem 0;
}

.Products_Slide .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}