:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(to right,
            #008B8B 0%,
            #005154 25%,
            #008B8B 50%,
            #005154 75%,
            #008B8B 100%);
    


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  background-image: linear-gradient(to right, #008B8B 0%, #003133 51%, #008B8B 100%);
}



::-webkit-scrollbar{
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, #ff00cc, #333399) !important;
  border-radius: 10px !important;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-size: 100% 200%;
  animation: gradient-vertical 15s ease infinite;
}

::-webkit-scrollbar-track{
  background: rgb(101, 99, 99);
}

@keyframes gradient-vertical {
  0% 
  {
    background-position: 0% 0%;
  }

  50% 
  { 
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
    
  }
}


.mySwiper {
  overflow: inherit !important;
  z-index: 5;
}

.Swiper_Banner {
  overflow-x: hidden;
  z-index: 1 !important;
  position: relative;
}
